<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이어리 세부 정보 입력</title>
</head>
<body>
<h2>다이어리 세부 정보 입력</h2>
<form action="/api/Diary/Detailsave" method="post" enctype="multipart/form-data">
    <label for="diary">다이어리:</label><br>
    <input type="text" id="diary" name="diary"><br><br>


    <label for="day">일기 날짜:</label><br>
    <input type="text" id="day" name="day"><br><br>

    <label for="content">일기 내용:</label><br>
    <textarea id="content" name="content" rows="4" cols="50"></textarea><br><br>

    <label for="photos">사진 업로드:</label><br>
    <input type="file" id="photos" name="photos" multiple><br><br>

    <input type="submit" value="저장">
</form>
</body>
</html>
