<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload with DTO</title>
</head>
<body>
<h2>File Upload with DTO</h2>
<form action="/api/test/upload" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age"><br>
    <input type="file" name="file" id="file"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
